#af-form-735710842 .af-body .af-textWrap {
  width: 98%;
  display: block;
  float: none;
}
#af-form-735710842 .af-body a {
  color: #454545;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#af-form-735710842 .af-body input.text,
#af-form-735710842 .af-body textarea {
  background-color: #ffffff;
  border-color: #454545;
  border-width: 1px;
  border-style: solid;
  color: #454545;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  padding: 10px !important;
  font-family: Trebuchet MS, sans-serif;
}
#af-form-735710842 .af-body input.text:focus,
#af-form-735710842 .af-body textarea:focus {
  background-color: #ffffff;
  border-color: #454545;
  border-width: 1px;
  border-style: solid;
}
#af-form-735710842 .af-body label.previewLabel {
  display: block;
  float: none;
  text-align: left;
  width: auto;
  color: #454545;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
}
#af-form-735710842 .af-body {
  padding-bottom: 15px;
  padding-top: 15px;
  background-repeat: no-repeat;
  background-position: inherit;
  background-image: none;
  color: inherit;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
}
#af-form-735710842 .af-quirksMode .bodyText {
  padding-top: 2px;
  padding-bottom: 2px;
}
#af-form-735710842 .af-quirksMode {
  padding-right: 60px;
  padding-left: 60px;
}
#af-form-735710842 .af-standards .af-element {
  padding-right: 60px;
  padding-left: 60px;
}
#af-form-735710842 .bodyText p {
  margin: 1em 0;
}
#af-form-735710842 .buttonContainer input.submit {
  background-image: none;
  background-color: #1ca7bf;
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
}
#af-form-735710842 .buttonContainer input.submit {
  width: auto;
}
#af-form-735710842 .buttonContainer {
  text-align: right;
}
#af-form-735710842 body,
#af-form-735710842 dl,
#af-form-735710842 dt,
#af-form-735710842 dd,
#af-form-735710842 h1,
#af-form-735710842 h2,
#af-form-735710842 h3,
#af-form-735710842 h4,
#af-form-735710842 h5,
#af-form-735710842 h6,
#af-form-735710842 pre,
#af-form-735710842 code,
#af-form-735710842 fieldset,
#af-form-735710842 legend,
#af-form-735710842 blockquote,
#af-form-735710842 th,
#af-form-735710842 td {
  float: none;
  color: inherit;
  position: static;
  margin: 0;
  padding: 0;
}
#af-form-735710842 button,
#af-form-735710842 input,
#af-form-735710842 submit,
#af-form-735710842 textarea,
#af-form-735710842 select,
#af-form-735710842 label,
#af-form-735710842 optgroup,
#af-form-735710842 option {
  float: none;
  position: static;
  margin: 0;
}
#af-form-735710842 div {
  margin: 0;
}
#af-form-735710842 fieldset {
  border: 0;
}
#awf_field-113565704,
#awf_field-113565705,
#awf_field-113565706 {
  font-size: 16px !important;
  padding: 10px 10px !important;
}

#af-form-735710842 form,
#af-form-735710842 textarea,
.af-form-wrapper,
.af-form-close-button,
#af-form-735710842 img {
  float: none;
  color: inherit;
  position: static;
  background-color: none;
  border: none;
  margin: 0;
  padding: 0;
}
#af-form-735710842 input,
#af-form-735710842 button,
#af-form-735710842 textarea,
#af-form-735710842 select {
  font-size: 100%;
}
#af-form-735710842 p {
  color: inherit;
}
#af-form-735710842 select,
#af-form-735710842 label,
#af-form-735710842 optgroup,
#af-form-735710842 option {
  padding: 0;
}
#af-form-735710842 table {
  border-collapse: collapse;
  border-spacing: 0;
}
#af-form-735710842 ul,
#af-form-735710842 ol {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: disc;
  padding-left: 40px;
}
#af-form-735710842,
#af-form-735710842 .quirksMode {
  width: 100%;
  max-width: 418px;
}
#af-form-735710842.af-quirksMode {
  overflow-x: hidden;
}
#af-form-735710842 {
  background-color: #ffffff;
  border-color: #454545;
  border-width: 1px;
  border-style: none;
}
#af-form-735710842 {
  display: block;
}
#af-form-735710842 {
  overflow: hidden;
}
.af-body .af-textWrap {
  text-align: left;
}
.af-body input.image {
  border: none !important;
}
.af-body input.submit,
.af-body input.image,
.af-form .af-element input.button {
  float: none !important;
}
.af-body input.submit {
  white-space: inherit;
}
.af-body input.text {
  width: 100%;
  float: none;
  padding: 2px !important;
}
.af-body.af-standards input.submit {
  padding: 4px 12px;
}
.af-clear {
  clear: both;
}
.af-element label {
  text-align: left;
  display: block;
  float: left;
}
.af-element {
  padding-bottom: 5px;
  padding-top: 5px;
}
.af-form-wrapper {
  text-indent: 0;
}
.af-form {
  box-sizing: border-box;
  text-align: left;
  margin: auto;
}
.af-quirksMode .af-element {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.lbl-right .af-element label {
  text-align: right;
}

#af-form-735710842 input.submit,
#af-form-735710842 #webFormSubmitButton {
  -webkit-appearance: none;
}

.af-form {
  border-radius: 12px;
}

.af-header {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
}

.af-header p {
  padding-top: 25px;
  padding-right: 50px;
  padding-bottom: 40px;
  padding-left: 50px;
}

.af-body input.text,
.af-body textarea {
  border-radius: 4px;
}

.af-element {
  padding-top: 10px;
  padding-bottom: 10px;
}

#af-form-735710842 select,
#af-form-735710842 label,
#af-form-735710842 optgroup,
#af-form-735710842 option {
  padding-bottom: 5px;
}

#af-form-735710842 p {
  margin: 0;
}

#af-form-735710842 .af-body .privacyPolicy {
  font-size: 9px;
  padding-top: 20px;
  padding-bottom: 10px;
}

#af-form-735710842 .af-body .poweredBy {
  font-size: 9px;
  padding-top: 0;
  padding-bottom: 0;
}

#af-form #webFormSubmitButton,
.buttonContainer input.submit,
.af-body.af-standards input.submit {
  border: none;
  border-radius: 4px;
  padding: 10px 30px;
}

.bodyText p strong {
  letter-spacing: 0.03em;
  line-height: 1.25;
}

.af-form .af-element-radio {
  padding-bottom: 5px;
}

/* #popForm-587154017 {
  display: none;
} */
